/**
 * Custom Flex Posts styles
 */

.cfp-flex {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	-ms-flex-align: start;
	align-items: flex-start;
}

.cfp-row {
	margin-left: -15px;
	margin-right: -15px;
}

.cfp-post {
	margin-bottom: 20px;
}

.cfp-col {
	min-width: 200px;
	max-width: 400px;
	flex: 1 1 30%;
	margin-left: 15px;
	margin-right: 15px;
}

.cfp-col:empty {
	height: 0;
	visibility: hidden;
	margin-top: 0;
	margin-bottom: 0;
}

.cfp-list-1 .cfp-flex,
.cfp-list-3 .cfp-flex {
	flex-wrap: nowrap;
}

.cfp-list-1 .cfp-media,
.cfp-list-3 .cfp-extra .cfp-media {
	flex-shrink: 0;
}

.cfp-thumbnail {
	display: block;
}

.cfp-list-1 .cfp-thumbnail,
.cfp-list-3 .cfp-extra .cfp-thumbnail {
	margin-right: 1em;
}

.cfp-thumbnail {
	-webkit-transition: opacity 500ms ease;
	transition: opacity 500ms ease;
}

.cfp-thumbnail:hover {
	opacity: 0.8;
}

.cfp-thumbnail img {
	display: block;
	width: 100%;
	object-fit: cover;
	overflow: hidden;
}

.cfp-media .cfp-thumbnail img {
	margin: 0;
}

.cfp-thumbnail img.size-thumbnail {
	width: 85px;
	height: 85px;
}

.cfp-list-2 .cfp-body,
.cfp-list-3 .cfp-main .cfp-body {
	margin-top: 0.8em;
}

.cfp-title {
	font-size: 1em;
	line-height: 1.5;
	font-weight: 400;
	margin: 0;
}

.cfp-list-2 .cfp-title,
.cfp-list-3 .cfp-main .cfp-title,
.cfp-list-4 .cfp-title {
	font-size: 1.2em;
	font-weight: 500;
}

.cfp-list-4 .cfp-post {
	margin-left: -10px;
	margin-right: -10px;
}

.cfp-list-4 .cfp-media {
	flex: 1 0 40%;
	min-width: 150px;
	max-width: 300px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 0.8em;
}

.cfp-list-4 .cfp-body {
	flex: 1 0 50%;
	margin-left: 10px;
	margin-right: 10px;
}

.cfp-title a {
	color: currentColor;
	text-decoration: none;
}

.cfp-excerpt {
	margin-top: 0.4em;
	opacity: 0.8;
}

.cfp-meta {
	font-size: 0.9em;
	margin-top: 0.1em;
}

.cfp-meta a {
	opacity: 0.5;
	color: currentColor;
	text-decoration: none;
}

.cfp-comments > span {
	opacity: 0.5;
}

.cfp-meta a:hover {
	opacity: 0.8;
}

.cfp-meta > span:before {
	content: "\a0\b7\a0";
	opacity: 0.5;
}

.cfp-meta > span:first-child:before {
	content: "";
}

.cfp-categories {
	display: block;
	font-size: 0.7em;
	margin: 0;
	opacity: 0.7;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute ! important;
	width: 1px;
	word-wrap: normal ! important;
}
